<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'header.html' with {"title": "會員資料"} %}
	

</head>
<body>
	{% include 'navbar-is-login.html' %}


   <div class="col-md-offset-2 col-md-8">

		<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">會員資料	</h3>
				</div>
		  	<div class="panel-body">
		  		<br>
		    	<div class="col-md-offset-2 col-md-8">
              <table class="table">
                <tbody>
                  <tr>
                    <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">姓名</span></td>
                    <td>YuChiang</td>
                  </tr>
                  <tr>
                    <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">學校</span></td>
                    <td>ntu</td>
                  </tr>
                  <tr>
                    <td><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">學校信箱</span></td>
                    <td>b02902095@ntu</td>
                  </tr>
                  <tr>
                    <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">帳號</span></td>
                    <td>yuchiang</td>
                  </tr>
                  <tr>
                    	<td><span class="glyphicon glyphicon-file" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">密碼</span></td>
                    	<td><a href="">（更改密碼？）</a>	</td>
                    	
                  </tr>
                </tbody>
              </table>
            </div>
		  	</div>
		</div>
	</div>


</body>
</html>