<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'header.html' with {"title":"任務記錄"} %}
</head>
<body>
	{% include 'navbar-is-login.html' %}
	

   	<div class="col-md-offset-2 col-md-8">

		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">任務記錄</h3>
			</div>
		  	<div class="panel-body">
		  		<ul class="nav nav-tabs">
                    <li  class="active"><a href="#request2" data-toggle="tab">發出的任務</a></li>
                    <li><a href="#accept2" data-toggle="tab">收到的任務</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active"  id="request2">
                        <table class="table">
                            <tr>
                                <th>接任務日期</th>
                                <th>對象</th>     
                                <th>任務名稱</th>
                                <th>點數</th>
                                <th>狀態</th>
                                <th>檢視</th>
                                <th>聊天室</th>
                            </tr>
                            <tr>
                                <td>2014/5/12</td>
                                <td>Smith</td>        
                                <td>blablablablablabla</td>
                                <td>50</td>
                                <td><button class="btn btn-primary">完成</button></td>
                                <td><button class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></td>
                                <td><button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></td>
                            </tr>
                            <tr>
                                <td>2014/5/12</td>
                                <td>Smith</td>        
                                <td>blablablablablabla</td>
                                <td>50</td>
                                <td><button class="btn btn-primary">完成</button></td>
                                <td><button class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></td>
                                <td><button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></td>
                            </tr>
                            <tr>
                                <td>2014/5/12</td>
                                <td>Smith</td>        
                                <td>blablablablablabla</td>
                                <td>50</td>
                                <td><button class="btn btn-primary">完成</button></td>
                                <td><button class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></td>
                                <td><button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></td>
                            </tr>
                            
                        </table>    
                    </div>
                    <div class="tab-pane"  id="accept2">
                        <table class="table">
                            <tr>
                                <th>收任務日期</th>
                                <th>對象</th>     
                                <th>任務名稱</th>
                                <th>點數</th>
                                <th>狀態</th>
                                <th>檢視</th>
                                <th>聊天室</th>
                            </tr>
                            <tr>
                                <td>2014/5/12</td>
                                <td>Smith</td>        
                                <td>blablablablablabla</td>
                                <td>50</td>
                                <td><button class="btn btn-primary">完成</button></td>
                                <td><button class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></td>
                                <td><button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></td>
                            </tr>
                        </table>    
                    </div>
            	</div>


			</div>
			
		</div>
	</div>


	
</body>
</html>