<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'header.html' with {"title":"點數記錄"} %}
	<script>
		$('#sandbox-container div').datepicker({
			});
	</script>
</head>
<body>
	{% include 'navbar-is-login.html' %}
	

   	<div class="col-md-offset-2 col-md-8">

		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">點數記錄</h3>
			</div>
		  	<div class="panel-body">
		  		<div class="form-group col-md-offset-3 col-md-6">
				    <label for="range">轉出/轉入/不限</label>
					<select name="range" class="form-control">
			  			<option value="all" selected="true">不限</option>
			  			<option value="trade_out">轉出</option>
			  			<option value="trade_in">轉入</option>
					</select>
				</div>
				<div class="input-daterange input-group col-md-offset-3 col-md-6"id="datepicker" name="datepicker">
				    <input type="text" class="input-sm form-control" name="start" />
				    <span class="input-group-addon">to</span>
				    <input type="text" class="input-sm form-control" name="end" />
				</div>
				<br>
		  		<table class="table">
					<tr>
					  <th>日期</th>
					  <th>時間</th>		
					  <th>對象</th>
					  <th>事由</th>
					  <th>點數</th>
					  <th>結餘</th>
					</tr>
					<tr>
					  <td>Jill</td>
					  <td>Smith</td>		
					  <td>50</td>
					  <td>50</td>
					  <td>50</td>
					  <td>50</td>
					</tr>
					<tr>
					  <td>50</td>
					  <td>Eve</td>
					  <td>Jackson</td>		
					  <td>Jackson</td>		
					  <td>Jackson</td>		
					  <td>94</td>
					</tr>
				</table>	
			</div>
			
		</div>
	</div>


	
</body>
</html>